body{
  background-color: #0a0a0a;
  height: auto;
  margin: 0;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;

}
header{
  display: flex;
  background-color: #0a0a0a;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav_links{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.nav_links a{
  color:red;
  padding: 24px;
  line-height: 1em;
  text-decoration: solid; 
  font-size: 20px;
}
.nav_links a:focus{
  color:yellow;
}
.nav_links :hover{
  transition-property: all;
  transition-duration: 750ms;
  color: white;
}
li.nav_item.current{
  padding: 24px;
 
}
a.skip{
  -webkit-transition: top 1s ease-out;
  z-index: 1;
  background: white;
  position: absolute;
  top: -40px;
  transition: top 1s ease-out;
  z-index: 1;
}
a.skip:focus{
  top: 20px;
  color: black;
  text-decoration-style: solid;
}
#contact_title{
  color: red;
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
}
.form{
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  text-align: center;
  color: red;
}
input{
  margin-bottom: 15px;
  width: 40%;
}
footer{
  display: block;
  text-align: center;
  padding: 5px;
  bottom: 0;
  width: 100%;
  color: white;
  background-color:black;
}

/* STATS */
td{
  text-align: center;
  border-top: 2px solid black;
  padding: 10px;
  }
    
    
.colhead{
  color: #FFFFFF;
  min-width: 50px;
  padding: 10px;
  background-color: darkred;
  text-transform: uppercase;
  }
    
.rowhead{
  border-right: 2px solid yellow;
  border-top: 2px solid black;
  }
    
    
table{
  border: 5px solid yellow;
  margin-left: auto;
  margin-right: auto;
  }
#gallery{
  display: block;
  text-align: center;
  color: yellow;
}
.gallery{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.gallery > img{
  display: flex;
  height: auto;
  width: 90vw;
}
#image10{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  padding: 5px;
  margin: 15px;
  line-height: 1.75;
}
td{
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
}
tr{
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
}
tr:hover{
  border-bottom: 2px dashed white;
}
#biography{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: yellow;
  margin-bottom: 15px;
}

#trophies{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: yellow;
}
/* # */
.club_stats{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: yellow;
}
#international_stats{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: yellow;
  margin-top: 25px;
}
@media screen and (min-width: 750px){
  table{
    width: 85%;
  }
  .gallery{
    flex-direction: row;
    justify-content: space-around;
  }
  .gallery > img{
    width: 500px;
    border: 10px solid white;
  }
  #biography{
    font-size: 32px;
  }
  #trophies{
    font-size: 32px;
  }
  .club_stats{
    font-size: 32px;
  }
  #international_stats{
    font-size: 32px;
  }
  #gallery{
    font-size: 32px;
  }
  .form{
  border: 5px solid yellow;
  }
  input{
    margin-bottom: 15px;
    width: 20%;
  }
}
@media screen and (min-width: 1100px){
  @keyframes icon{
    from{width: 50px;}
    to{width: 120px;}
   
}  
  #icon{
    animation-name: icon;
    animation-duration: 3s;
    max-width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
  }
  .ball{
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  .grid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
  .text1{
    grid-column: 1 / span 3;
  }
  .text2{
    grid-column: 1 / span 3;
  }
  .text3{
    grid-column: 1 / span 3;
  }
  .text4{
    grid-column: 1 / span 3;
  }
  .nav_links a{
    margin: 60px;
  }
  #container1{
    background-image: url('../images/stadium2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  table{
    background-color: #0a0a0a;
  }
}
@media screen and (prefers-reduced-motion: reduce){
  #icon{
    animation: none;
  }
}
@media screen and (prefers-reduced-motion: reduce){
  #container1{
    background-attachment: initial;
  }
}
@media screen and (max-width: 1100px){
  #icon{
    display: none;
  }
  .ball{
    display: none;
  }
}
table tr:hover{
  background:#373737;
}